@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Righteous&family=Sarala:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #000000 16.62%, #0F1120 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.cabecalho:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

    .cabecalho-logo {
        height: 100px;
        transition: transform 100ms cubic-bezier(0, 0, 0.53, 2.88);
    }
        .cabecalho-logo:hover {
            transform: scale(1.08);
        }

    .cabecalho-menu {
        display: flex;
        gap: 32px;
    }

        .cabecalho-menu-item {
            font-family: 'Sarala', sans-serif;
            color: #fff2e7;
            font-weight: 400;
            font-size: 18px;
            transition: transform 100ms cubic-bezier(0, 0, 0.53, 2.88);
        }
            	.cabecalho-menu-item:hover {
                    transform: scale(1.08);
                }

    .cabecalho-social {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    	.cabecalho-social-logo {
            width: 50px;
            transition: transform 100ms cubic-bezier(0, 0, 0.53, 2.88);
        }
            	.cabecalho-social-logo:hover {
                    transform: scale(1.08);
                }
.conteudo {
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 48px;
}

    .conteudo-principal {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .conteudo-principal:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

        .conteudo-principal-escrito {
            display: flex;
            flex-direction: column;
            margin-left: 40px;
            margin-top: 32px;
        }

            .conteudo-principal-escrito-titulo{
                font-family: 'Righteous', cursive;
                font-weight: 400;
                font-size: 64px;
                color: #FFF2E7;
            }

            .conteudo-principal-escrito-subtitulo {
                font-family: 'Fira Code', monospace;
                color: #ecd6c4;
                font-weight: 400;
                font-size: 24px;
            }
                .conteudo-principal-escrito-subtitulo-code1 {
                    color: #0652E9;
                }
                .conteudo-principal-escrito-subtitulo-code2 {
                    color: #62E1E9;
                }
            .conteudo-principal-escrito-descricao {
                font-family: 'Fira Code', monospace;
                color: #ecd6c4;
                font-weight: 400;
                font-size: 13px;
                width: 500px;
            }

            .conteudo-principal-escrito-botao{
                background-color: #FFF2E7;
                width: 220px;
                height: 60px;
                border: none;
                box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
                border-radius: 20px;
                font-family: 'Fira Code', monospace;
                color: #2F2325;
                font-weight: 400;
                font-size: 20px;
                margin-top: 32px;
                transition: transform 100ms cubic-bezier(0, 0, 0.53, 2.88);
            }
            .conteudo-principal-escrito-botao:hover{
                transform: scale(1.08);
            }

            .conteudo-principal-imagem {
                height: 350px;
                transition: transform 100ms cubic-bezier(0, 0, 0.53, 2.88);
            }
                .conteudo-principal-imagem:hover {
                    transform: scale(1.08);
                }
        
        .conteudo-secundario {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
            margin-top: 48px;
        }
        .conteudo-secundario:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

            .conteudo-secundario-titulo {
                border-top: 0.4px solid #FFF2E7;
                padding-top: 48px;
                font-family: 'Righteous', cursive;
                font-weight: 400;
                font-size: 24px;
                color: #FFF2E7;
                margin-bottom: 16px;
            }

            .conteudo-secundario-paragrafo {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 24px;
            }
                .conteudo-secundario-paragrafo-item {
                    font-family: 'Fira Code', monospace;
                    color: #ecd6c4;
                    font-weight: 400;
                    font-size: 13px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    transition: transform 100ms cubic-bezier(0, 0, 0.53, 2.88);
                }
                    .conteudo-secundario-paragrafo-item:hover {
                        transform: scale(1.08);
                    }
.rodape {
    border-top: 0.4px solid #FFF2E7;
    }

    .rodape-imagem {
        height: 100px;
        display: block;
        margin: 0 auto;
    }